<% @title="Quote" %>
<br>
<div class = "col-xs-2">
  <%= form_tag do %>
      <%= text_field_tag :symbol, "", class: 'form-control', :placeholder => 'Stock Symbol' %>
      <br>
      <%= submit_tag("Log in", class: "btn btn-primary") %>
  <% end %>
</div>
