<% @title = "Quotes" %>
<br>
<div class="col-sm-offset-5 col-sm-2">
  <%= form_tag do %>
      <%= text_field :symbol, "", class: 'form-control', placeholder: 'Stock Symbol' %>
      <br>
      <%= submit_tag "Get Quote", class: "btn btn-primary" %>
  <% end %>
</div>
